.board{
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;
  position: relative;
}
.center{
    display: grid;
    place-items: center;
    margin-top: 5%;
}
