.info{
    display: grid;
   place-items: center;
}
h3.result{
    font-size:30px;
}

.button {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans';
    margin: 5px;
  }
  .button:hover{
    background-color: #adabab; 
  }